
html, body {
  margin: 0px;
  padding: 0px;

}

.container {
  margin: 0;
  padding: 0;
}

.about {
  height: 100vh; 
  position: relative;
}


.about img {
      position: absolute;
      height: 100vh;
      width: auto;
      left: calc((1300px - 100vw)/-2);
}

@media (min-width: 840px) {
  .about_text {
    display: inline-block;
    position: relative;
    font-size: 170%;
    margin-top: 70vh;
    text-align: center;
    color: white;
  }
}

@media (max-width: 839px) {
  .about_text {
    display: inline-block;
    position: relative;
    font-size: 140%;
    margin-top: 70vh;
    text-align: center;
    color: white;
}
}

.portfolio_box {
  margin-top: 150px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 15px;
}

.portfolio {
  position: static;
  text-align: center;
  margin-bottom: 10px;
  padding: 2px;
  height: 300px;
  background-color: #F0E68C;
  border: 5px solid white;
  border-radius: 10px;
}

.portfolio:hover {
  background-color: #DB7093;
  cursor: pointer;
}

.img-thumbnail {
  max-width:100%;
  max-height:85%;
}

.subtitles {
  text-align: center;
}

.email {
  color: #EA384D
}

.email:hover {
  color: #D31027
}

.github {
  color: #333
}

.github:hover {
  color: #bdc3c7;
}

.linkedin {
  color: 0077B5;
}
