
html, body {
  margin: 0px;
  padding: 0px;

}

.container-fluid {
  margin: 0;
  padding: 0;
}

.about {
  height: 100vh; 
  position: relative;
  overflow: hidden;
}


.about img {
      position: absolute;
      height: 100vh;
      width: auto;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      opacity: 0.9;
}

@media (min-width: 840px) {
  .about_text {
    display: inline-block;
    position: relative;
    font-size: 170%;
    margin-top: 60vh;
    text-align: center;
    opacity: 0.8;
    background-color: #202020;
    border-radius: 25px;
    color: yellow;
  }
}

@media (max-width: 839px) {
  .about_text {
    display: inline-block;
    position: relative;
    font-size: 120%;
    margin-top: 55vh;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    background-color: #202020;
    opacity: 0.8;
    border-radius: 25px;
    color: yellow;
}
}

.portfolio_box {
  margin-top: 150px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 15px;
}

.portfolio {
  position: static;
  text-align: center;
  margin-bottom: 10px;
  padding: 2px;
  height: 300px;
  background-color: #F0E68C;
  border: 5px solid white;
  border-radius: 10px;
}

.portfolio:hover {
  background-color: #DB7093;
  cursor: pointer;
}

.img-thumbnail {
  max-width:100%;
  max-height:85%;
}

.subtitles {
  text-align: center;
}

.email {
  color: #EA384D
}

.email:hover {
  color: #D31027
}

.github {
  color: #333
}

.github:hover {
  color: #bdc3c7;
}

.linkedin {
  color: 0077B5;
}
